.page-container {
  text-align: center;
  max-width: 800px;
  min-height: 80vh;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 85%;
}

.page-content {
  padding-top: calc(3rem + 7vh);
  padding-bottom: 4.5rem;
}
